* {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: rgb(221, 221, 221);
    
    background-color: rgb(37, 42, 55);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#hero-image {
    background: url("images/random_stock_image.jpg") no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom;
    height: 40em;
    position: relative;
}

#main-logo {
    text-align: center;
    position: absolute;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(221, 221, 221);
    padding: 5%;

    background-color: rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(4px);

    border-radius: 4px;
}


#main-text {

    margin: auto;
    margin-left: 18%;
    margin-right: 18%;
    padding: 2%;

    font-size: 20px;

    background-color: rgb(49, 56, 73);
}

#felsorolas {
    margin-left: 5%;
}

#nftk {
    margin-left: 5%;
    margin-right: 5%;
}

#more1 {
    display: none;
}

#contact-me-btn {
    font-size: 130%;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color:chocolate;
    transition: 100ms;
    padding: 12px;
}

#contact-me-btn:hover {
    background-color:rgb(243, 133, 54);
}

#contact-me-btn:hover {
    background-color:rgb(243, 133, 54);
}

#nftk-table {
    width: inherit;
}

#nftk-table td {
    text-align: center;
    /*padding: 5%;*/
    padding-top: 2em;
    padding-bottom: 2em;
    width: 33%;
    border-width: 10px;
    font-size: 120%;
}

ul {
    margin-left: 5%;
    line-height: 180%;
}
ol {
    margin-left: 5%;
    line-height: 180%;
}

a:link {
    color: rgb(221, 221, 221);
    text-decoration:underline;
}

a:visited {
    color: rgb(221, 221, 221);
}

a:hover {
    color: rgb(221, 221, 221);
    text-decoration: dotted underline;
}

button {
    font-size: medium;
    color: rgb(221, 221, 221);
    background-color: rgb(37, 42, 55);
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    padding: 6px;
    cursor: pointer;
}

button:hover {
    font-size: medium;
    color: rgb(221, 221, 221);
    background-color: rgb(49, 56, 73);
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    padding: 6px;
}

hr {
    border: 2px solid rgb(221, 221, 221);
}

table, th, td {
    border: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    padding: 4px;
}

@media screen and (max-width: 1000px) {
    #main-text {
        margin: 0;
        padding: 2%;
    }

    #nftk-table {
        margin: 0px;
        width: 100%;
    }

    #nftk {
        margin: 0px;
        overflow: hidden;
    }
    
    #nftk-table td {
        padding-top: 2em;
        padding-bottom: 2em;
        width: 33%;
        height: 50%;
        overflow: hidden;
    }
}